<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')  %> 
<body>
    <%- include('./partials/nav.ejs') %> 

    
    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed a nobis quam doloremque maiores neque consequatur, nemo amet qui. Maxime.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae eius ipsa ut accusamus dignissimos dolorem accusantium id qui ipsum voluptatum?</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure id reprehenderit illum odio quos placeat, doloribus possimus aspernatur fugiat laboriosam.</p>
    </div>
    <%- include('./partials/footer.ejs')  %> 

</body>
</html>